<div id="content">

  <div id="thermo1" class="thermometer">

    <div class="track">
      <div class="goal">
        <div class="amount"> 90000 </div>
      </div>
      <div class="progress">
        <div class="amount">47835 </div>
      </div>
    </div>

  </div>


